BODY {
  font-family: 'Playfair Display', serif;
  font-style: normal;
}
.container {
  text-align:center;
}
.hero-container {
  position: relative;
  text-align: center;
  color:#5C4033;
}
.captial-title {
    color: #5C4033;
}
.overlay {
  position: absolute;
  width:100%;
  top: 20%;
  opacity: .8;
  background: #DED1B4;
}
.masthead{
text-align: center;
}
.hero-image{
    width:100%;
}
.hero-hed{
  padding-top:10px;
  margin:0 auto;
  font-size:3em;
  font-family: 'Times New Roman', sans-serif,serif;
  padding-bottom:10px;
  color: #5C4033;
}
.hero-sub {
  font-family: 'Merriweather', Merrill, serif;
  font-size:.25em;
}
/*navigation bar*/
.bg-dark {
  background: !important;
}
.container-fluid{
  font-family: 'Times New Roman', sans-serif;
  font-weight:800;
  font-size:1.5em;
  color: #5C4033;
}
.navbar-brand {
  margin:10;
  font-family: 'Times New Roman', sans-serif;
  font-weight:700;
  font-size:1.5em;
  text-align: center;
  color: #5C4033;
}
/*style*/
p{
  text-align: left;
  line-height: 180%;
  font-size: 1.25em;
  font-family: 'open sans', serif;
}
.intro-text {
  font-size:1.75em;
  max-width:800px;
  margin:0 auto;
  padding-top:50px;
  padding-bottom:50px;
  color: #000000;
}

.dropcap {
  color: #5C4033;
  float: left;
  font-size: 4em;
  line-height: 60px;
  padding-top: 1px;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 600;
}
.hed {
  font-size:4em;
  font-family: 'Playfair Display', sans-serif;
  line-height:130%;
}
.byline {
  font-size:1em;
  text-transform:uppercase;
  margin-top:-10px;
  font-family: serif,sans-serif;
}
.chapter-head {
  font-family: 'Montserrat', sans-serif;
  color: #5C4033;
  font-size:2em;
  padding-top:20px;
  text-transform:uppercase;
}
.quote {
  font-family: 'Montserrat', sans-serif;
  color:#5C4033;
  font-size:2em;
  font-weight:600;
  text-align: left;
  padding: 15px 0 15px 0;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  margin-top:10px;
  margin-bottom:10px;
  padding-left:60px;
  padding-right:60px;
}
.video{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.quote-attribution {
  font-size:.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight:100;
  text-align:left;
  color:#000;
}
.caption {
  width:100%;
  max-width:900px;
  padding-bottom:10px;
  font-family: 'Montserrat', sans-serif;
  color:#5C4033;
  font-size:1em;
  margin-top:10px;
  padding-left:60px;
  padding-right:60px;
}
.h1{
  font-size: 1em;
  font-family: 'open sans', serif;
  font-weight: 200;
  margin-top: 20;
  margin-bottom: 20;
}
.footer{
  text-align: center;
  background: #000;
  min-height: 100px;
  margin-top:100px;
  }
.final-words{

}
.text-center{
  color:#5C4033;
  font-size: 2em;
}
